body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #431f7d; 
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

footer {
    background-color: #431f7d; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}