body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #431f7d; 
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

footer {
    background-color: #431f7d; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#about-me {
    padding-top: 60px; /* Add some top padding to center the content vertically */
}

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add spacing between items */
    margin-top: 30px;
}

.about-me-item {
    width: calc(33.33% - 20px); /* Adjust width to fit 3 items in a row */
    max-width: 300px;
    text-align: left;
    margin-bottom: 30px; /* Add some vertical spacing between items */
}

.about-me-icon {
    font-size: 32px;
    color: #555;
    margin-bottom: 10px;
}

.about-me-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-me-item ul {
    list-style-type: disc; /* Use bullet points */
    margin-left: 20px; /* Add some left margin to the bullet points */
}

.about-me-item li {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.fixed-height {
    height: 250px; /* Adjust the height as needed */
    overflow: hidden;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #f8f9fa; /* Light gray background color */
    border-radius: 10px; /* Rounded borders */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    padding: 20px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    color: #333; /* Dark text color */
}

.card-text {
    font-size: 16px;
    color: #666; /* Medium-gray text color */
    margin-bottom: 10px;
}

i.fas {
    color: #431f7d; /* Primary color (blue) for icons */
}

.text-deep-purple {
    color: #431f7d; /* Deep purple color */
}

#skills-languages {
    padding-top: 60px; /* Add some top padding to center the content vertically */
}

.skills-list {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

/* Target the badge elements for skills tags */
.skills-list .badge {
    margin-right: 8px;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #431f7d; /* Your desired color for the tags */
    color: #fff; /* Text color for the tags (white in this case) */
}

.progress {
    height: 30px;
    border-radius: 15px;
    background-color: #f1f1f1; /* Light gray background */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.progress-bar {
    line-height: 30px;
    font-size: 14px;
    border-radius: 15px; /* Round the corners of the progress bar */
    color: #fff; /* Text color for the progress bar (white) */
}

/* Customize progress bar colors */
.progress-bar.bg-custom {
    background-color: #431f7d; /* Your desired accent color (deep purple) */
}